@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    
}

.container-wrapper {

}

.container-wrapper--yellow {
    background-color: whitesmoke;
    color: black;
}


.callout-container {
    height: 100vh;
   
   background: url('../images/shutterstock_760304731.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}

.research-container {
    

}

.review-container {
    
}

/* Navbar */

.navbar {
   padding: 0px 0px 0px 0px;
}
.navbar .navbar-brand {
    padding: 0px 0px 0px 0px;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* Page headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}


/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
}

.block-divider--red {
    background-color: red;
}

.block-divider--short {
    width: 35px;
}

/* Content container */

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 60px;
    padding-right: 60px;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: blue;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: whitesmoke;
}

.jumbotron small {
    font-size: 80%;
    font-style: italic;
    color: whitesmoke;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--yellow {
    color: black;
    background-color: #ffc30b;
    border-color: #ffc30b;
}

.btn--yellow:hover,
.btn--yellow:active,
.btn--yellow:focus,
.btn--yellow:active:focus {
    background-color: #fce205;
    border-top-color: #fce205;
}

.reviews {
    text-align: center;
    margin-bottom: 40px;
}

/* Footer */

.footer {
    color: whitesmoke;
    background-color: #3b5998;
}
.footer-info {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.footer-info>p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: whitesmoke;
    font-size: 15px;
    margin-bottom: 1px;
}

.yellowhover:hover {
    color: #fce205;
}

.whitetext {
    color: whitesmoke;
}

#footer-details {
    padding: 20px;
}
.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #5e2beb;transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
    background: #fce205;
}

/* Contact */

.contact-heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: black;
    background-color: #fce205;
}

.contact-container {
    height: 100vh;
   
   background: url('../images/contact-us.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
     margin-bottom: 0px;
}

.uppercase {
    text-transform: uppercase;
}

